<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>竹南夜市</string>
			<string>竹南鎮國泰路</string>
			<string>SAT</string>
			<string>24.677478,120.877232</string>
			<string>211.jpg</string>
		</array>
		<array>
			<string>中港夜市</string>
			<string>竹南鎮中港慈裕宮附近</string>
			<string>WED</string>
			<string>24.682436,120.864059</string>
			<string>212.jpg</string>
		</array>
		<array>
			<string>苗北夜市</string>
			<string>竹南鎮運動公園</string>
			<string>FRI</string>
			<string>24.692849,120.886509</string>
			<string>213.jpg</string>
		</array>
		<array>
			<string>頭份建國夜市</string>
			<string>頭份市建國路與山下街路口附近</string>
			<string>TUE</string>
			<string>24.697668,120.906296</string>
			<string>214.jpg</string>
		</array>
		<array>
			<string>尖山夜市</string>
			<string>頭份市尖豐路尖山國小附近</string>
			<string>THU</string>
			<string>24.654416,120.882976</string>
			<string>215.jpg</string>
		</array>
		<array>
			<string>苗栗英才觀光夜市</string>
			<string>苗栗市英才路、正發路口</string>
			<string>WED,FRI,SAT</string>
			<string>24.569848,120.820565</string>
			<string>216.jpg</string>
		</array>
		<array>
			<string>後龍夜市</string>
			<string>後龍鎮南龍里媽祖廟附近</string>
			<string>SUN</string>
			<string>24.611525,120.787018</string>
			<string>217.jpg</string>
		</array>
		<array>
			<string>苑裡慈和觀光夜市</string>
			<string>苑裡鎮慈和宮對面</string>
			<string>SAT</string>
			<string>24.440385,120.652081</string>
			<string>218.jpg</string>
		</array>
		<array>
			<string>大湖夜市</string>
			<string>大湖鄉義民廟廣場前</string>
			<string>THU</string>
			<string>24.426805,120.869518</string>
			<string>219.jpg</string>
		</array>
		<array>
			<string>三義夜市</string>
			<string>三義鄉全聯旁空地</string>
			<string>FRI</string>
			<string>24.414818,120.771398</string>
			<string>2110.jpg</string>
		</array>
		<array>
			<string>卓蘭夜市</string>
			<string>卓蘭鎮7-11中正西路109號旁空地</string>
			<string>THU</string>
			<string>24.310487,120.823234</string>
			<string>2111.jpg</string>
		</array>
		<array>
			<string>通霄夜市</string>
			<string>通霄鎮自強路</string>
			<string>FRI</string>
			<string>24.487724,120.681530</string>
			<string>2112.jpg</string>
		</array>
	</array>
	<array>
		<array>
			<string>逢甲夜市</string>
			<string>西屯區逢甲大學附近方圓1~1.5公里</string>
			<string>7days</string>
			<string>24.178888,120.645052</string>
			<string>221.jpg</string>
		</array>
		<array>
			<string>一中街商圈</string>
			<string>北區國立臺中科技大學對面，以台中一中、水利大樓為中心延伸。（範圍包含三民路、一中街、太平路、育才街與育才南、北街）</string>
			<string>7days</string>
			<string>24.149137,120.684961</string>
			<string>222.jpg</string>
		</array>
		<array>
			<string>中華路夜市</string>
			<string>中區中華路（民權路到五權路之間）</string>
			<string>7days</string>
			<string>24.144289,120.675693</string>
			<string>223.jpg</string>
		</array>
		<array>
			<string>忠孝路夜市</string>
			<string>南區忠孝路(台中路與國光路之間）</string>
			<string>7days</string>
			<string>24.130161,120.683622</string>
			<string>224.jpg</string>
		</array>
		<array>
			<string>旱溪夜市</string>
			<string>東區旱溪東路東門橋旁</string>
			<string>TUE、THU、FRI、SAT</string>
			<string>24.133294,120.700492</string>
			<string>225.jpg</string>
		</array>
		<array>
			<string>水湳經貿文創觀光夜市</string>
			<string>北屯區中清路與經貿五路口</string>
			<string>WED,THU,FRI,SAT,SUN</string>
			<string>24.191388,120.659346</string>
			<string>226.jpg</string>
		</array>
		<array>
			<string>太原世華夜市</string>
			<string>北屯區太原路世華駕訓班旁空地(地下道旁)</string>
			<string>WED,SUN</string>
			<string>24.164646,120.703236</string>
			<string>227.jpg</string>
		</array>
		<array>
			<string>四張犁夜市</string>
			<string>北屯區四張犁圖書館對面</string>
			<string>SUN</string>
			<string>24.194410,120.679387</string>
			<string>228.jpg</string>
		</array>
		<array>
			<string>東山夜市</string>
			<string>北屯區軍福路與東山路一段路口空地</string>
			<string>MON,THU,SAT</string>
			<string>24.175844,120.721491</string>
			<string>229.jpg</string>
		</array>
		<array>
			<string>微笑世紀觀光夜市</string>
			<string>北屯區雙十路與北屯路口</string>
			<string>FRI,SAT,SUN</string>
			<string>24.157933,120.691075</string>
			<string>2210.jpg</string>
		</array>
		<array>
			<string>鎮平夜市</string>
			<string>南屯區黎明路鎮平國小旁</string>
			<string>THU</string>
			<string>24.120062,120.629445</string>
			<string>2211.jpg</string>
		</array>
		<array>
			<string>烏日觀光夜市</string>
			<string>南屯區黎明路光日路地下道口旁</string>
			<string>TUE,SAT</string>
			<string>24.107034,120.625538</string>
			<string>2212.jpg</string>
		</array>
		<array>
			<string>龍富夜市</string>
			<string>南屯區龍富十七、十八路與向上路</string>
			<string>TUE,THU,FRI,SAT,SUN</string>
			<string>24.146152,120.629666</string>
			<string>2213.jpg</string>
		</array>
		<array>
			<string>豐原廟東夜市</string>
			<string>豐原區慈濟宮旁</string>
			<string>7days</string>
			<string>24.251574,120.719133</string>
			<string>2214.jpg</string>
		</array>
		<array>
			<string>葫蘆墩觀光夜市</string>
			<string>豐原區豐東路與向陽路口</string>
			<string>TUE,FRI,SAT,SUN</string>
			<string>24.249544,120.730594</string>
			<string>2215.jpg</string>
		</array>
		<array>
			<string>SOGO停車場夜市</string>
			<string>豐原區陽明街與樂天街口（台中市政府陽明大樓對面）</string>
			<string>WED,FRI</string>
			<string>24.247589,120.719897</string>
			<string>2216.jpg</string>
		</array>
		<array>
			<string>八方國際觀光夜市</string>
			<string>豐原區豐原大道一段165號（一心路口）</string>
			<string>WED,FRI,SUN</string>
			<string>24.245402,120.703477</string>
			<string>2217.jpg</string>
		</array>
		<array>
			<string>東勢夜市</string>
			<string>東勢區菜市場旁</string>
			<string>SAT</string>
			<string>24.257398,120.831114</string>
			<string>2218.jpg</string>
		</array>
		<array>
			<string>潭子勝利夜市</string>
			<string>潭子區雅潭路上</string>
			<string>MON,THU,SAT</string>
			<string>24.216321,120.698174</string>
			<string>2219.jpg</string>
		</array>
		<array>
			<string>太平臺中小鎮夜市</string>
			<string>太平區長億路</string>
			<string>7days</string>
			<string>24.117892,120.719362</string>
			<string>2220.jpg</string>
		</array>
		<array>
			<string>太平東平夜市</string>
			<string>太平區東平路台灣楓康超市旁</string>
			<string>WED</string>
			<string>24.133848,120.719161</string>
			<string>2221.jpg</string>
		</array>
		<array>
			<string>大里國際觀光夜市</string>
			<string>大里區中興路二段478號（中興路與東榮路口）</string>
			<string>WED,THU,FRI,SAT,SUN</string>
			<string>24.110130,120.690181</string>
			<string>2222.jpg</string>
		</array>
		<array>
			<string>大里勝利大夜市（原德芳夜市）</string>
			<string>大里區勝利二路與德芳南二街口，台中兒童藝術館與大里運動公園旁，肯德基大里國光店附近</string>
			<string>MON,THU</string>
			<string>24.100893,120.685065</string>
			<string>2223.jpg</string>
		</array>
		<array>
			<string>大里瑞城夜市</string>
			<string>大里區瑞城一街，瑞城國小附近</string>
			<string>SUN</string>
			<string>24.083032,120.701498</string>
			<string>2224.jpg</string>
		</array>
		<array>
			<string>大里塗城夜市</string>
			<string>大里區塗城路近美群路口</string>
			<string>WED,SAT</string>
			<string>24.086134,120.707970</string>
			<string>2225.jpg</string>
		</array>
		<array>
			<string>霧峰德泰街夜市</string>
			<string>霧峰區德泰街空地，霧峰市區近台三線中正路國泰大樓7-11</string>
			<string>FRI</string>
			<string>24.068186,120.700318</string>
			<string>2226.jpg</string>
		</array>
		<array>
			<string>霧峰丁台夜市</string>
			<string>霧峰區四德路（縣道127號），7-11丁台門市空地</string>
			<string>THU</string>
			<string>24.065085,120.678329</string>
			<string>2227.jpg</string>
		</array>
		<array>
			<string>東海別墅夜市</string>
			<string>龍井區東海大學後方</string>
			<string>7days</string>
			<string>24.181521,120.592608</string>
			<string>2228.jpg</string>
		</array>
		<array>
			<string>大肚山龍井自強夜市</string>
			<string>龍井區中龍路一段（特三號道路）近遊園南路口</string>
			<string>SAT</string>
			<string>24.176267,120.579442</string>
			<string>2230.jpg</string>
		</array>
		<array>
			<string>大肚夜市</string>
			<string>大肚區榮華街與華山路交叉口</string>
			<string>SUN</string>
			<string>24.154545,120.544909</string>
			<string>2231.jpg</string>
		</array>
		<array>
			<string>靜宜夜市</string>
			<string>沙鹿區靜宜大學附近</string>
			<string>MON,WED,THU</string>
			<string>24.227311,120.576183</string>
			<string>2232.jpg</string>
		</array>
		<array>
			<string>清水夜市</string>
			<string>清水區港區藝術中心</string>
			<string>WED,SAT</string>
			<string>24.275991,120.559986</string>
			<string>2233.jpg</string>
		</array>
		<array>
			<string>清水國中夜市</string>
			<string>清水區清水國中前</string>
			<string>SUN</string>
			<string>24.268268,120.564991</string>
			<string>2234.jpg</string>
		</array>
		<array>
			<string>大甲蔣公路夜市</string>
			<string>大甲區蔣公路</string>
			<string>THU</string>
			<string>24.345814,120.622925</string>
			<string>2235.jpg</string>
		</array>
		<array>
			<string>后里夜市</string>
			<string>后里區甲區路329巷旁空地</string>
			<string>MON,FRI</string>
			<string>24.307844,120.724304</string>
			<string>2236.jpg</string>
		</array>
		<array>
			<string>圓富文創觀光夜市</string>
			<string>豐原區豐原中山路圓環西路口（中科后豐會館旁）</string>
			<string>MON,FRI,SAT</string>
			<string>24.256466,120.712203</string>
			<string>2237.jpg</string>
		</array>
	</array>
	<array>
		<array>
			<string>彰化中央陸橋夜市</string>
			<string>彰化市天祥路，中央陸橋底下空地。附有停車場停車方便</string>
			<string>TUE,FRI,SUN</string>
			<string>24.064353,120.532866</string>
			<string>231.jpg</string>
		</array>
		<array>
			<string>彰化精誠夜市</string>
			<string>彰化市林森路精誠中學旁空地，又稱「精誠夜市」、「林森路夜市」、「高賽夜市」，全家超商斜對面。</string>
			<string>WED,FRI,SAT</string>
			<string>24.072268,120.526614</string>
			<string>232.jpg</string>
		</array>
		<array>
			<string>彰化冠天夜市</string>
			<string>彰化市彰南路一段，TOYOTA北彰化營業所旁空地</string>
			<string>SUN</string>
			<string>24.086538,120.568801</string>
			<string>239.jpg</string>
		</array>
		<array>
			<string>彰化永安夜市</string>
			<string>彰化市永安街，家樂福附近也有人叫「家樂福夜市」</string>
			<string>TUE,THU</string>
			<string>24.088827,120.543651</string>
			<string>233.jpg</string>
		</array>
		<array>
			<string>和美東發夜市</string>
			<string>彰新路與東發路路口，全家旁</string>
			<string>THU</string>
			<string>24.096125,120.536197</string>
			<string>234.jpg</string>
		</array>
		<array>
			<string>和美美寮路夜市</string>
			<string>和美鎮美寮路7-11旁空地</string>
			<string>SAT</string>
			<string>24.114562,120.506950</string>
			<string>235.jpg</string>
		</array>
		<array>
			<string>和美仁愛夜市</string>
			<string>和美鎮和美實驗學校附近（該校舊稱仁愛實驗學校）</string>
			<string>THU</string>
			<string>24.105752,120.492625</string>
			<string>236.jpg</string>
		</array>
		<array>
			<string>和美觀光夜市</string>
			<string>和美鎮彰美路旁，黑貓餐廳正對面。</string>
			<string>TUE,SUN</string>
			<string>24.104780,120.507392</string>
			<string>237.jpg</string>
		</array>
		<array>
			<string>鹿港鹿和夜市</string>
			<string>鹿港鎮大盤大五金百貨對面</string>
			<string>TUE,THU,SUN</string>
			<string>24.060165,120.440523</string>
			<string>238.jpg</string>
		</array>
		<array>
			<string>鹿港頂番夜市</string>
			<string>鹿港鎮頂番婆,頂草路一段附近</string>
			<string>FRI</string>
			<string>24.087868,120.480000</string>
			<string>2310.jpg</string>
		</array>
		<array>
			<string>鹿港草港夜市</string>
			<string>鹿港鎮頂草路</string>
			<string>THU</string>
			<string>24.087868,120.480000</string>
			<string>2311.jpg</string>
		</array>
		<array>
			<string>線西夜市</string>
			<string>線西鄉市場，7-11附近</string>
			<string>MON</string>
			<string>24.133170,120.463504</string>
			<string>2312.jpg</string>
		</array>
		<array>
			<string>伸港水尾夜市</string>
			<string>伸港鄉新港路加油站旁空地，又稱「新港路加油站夜市」。</string>
			<string>WED</string>
			<string>24.143158,120.487922</string>
			<string>2313.jpg</string>
		</array>
		<array>
			<string>伸港福安宮夜市</string>
			<string>伸港鄉福安宮前四十米路</string>
			<string>FRI</string>
			<string>24.162604,120.487991</string>
			<string>2314.jpg</string>
		</array>
		<array>
			<string>秀水夜市</string>
			<string>秀水鄉中山路老人文康中心旁空地，靠近花秀路口。</string>
			<string>WED,SAT</string>
			<string>24.038615,120.507703</string>
			<string>2315.jpg</string>
		</array>
		<array>
			<string>埔鹽夜市</string>
			<string>埔鹽鄉埔鹽郵局附近</string>
			<string>FRI</string>
			<string>23.997718,120.476999</string>
			<string>2316.jpg</string>
		</array>
		<array>
			<string>芬園社口夜市</string>
			<string>彰化縣芬園鄉清水路</string>
			<string>MON</string>
			<string>24.014972,120.630016</string>
			<string>2317.jpg</string>
		</array>
		<array>
			<string>員林台鳳夜市</string>
			<string>員林市龍燈公園廣場旁，又稱「龍燈公園夜市」，位置緊鄰鐵路高架橋。</string>
			<string>TUE,FRI,SUN</string>
			<string>23.971713,120.568005</string>
			<string>2318.jpg</string>
		</array>
		<array>
			<string>員林大同夜市</string>
			<string>員林市大同路和建國路旁，又稱「建國夜市」</string>
			<string>WED,SAT</string>
			<string>23.968697,120.577129</string>
			<string>2319.jpg</string>
		</array>
		<array>
			<string>員林林厝夜市</string>
			<string>員林市青山國小旁</string>
			<string>FRI</string>
			<string>23.944920,120.602321</string>
			<string>2320.jpg</string>
		</array>
		<array>
			<string>大村夜市</string>
			<string>大村鄉慈雲寺旁</string>
			<string>THU</string>
			<string>23.992730,120.544255</string>
			<string>2321.jpg</string>
		</array>
		<array>
			<string>花壇夜市</string>
			<string>花壇鄉學前路水文黃昏市場旁空地</string>
			<string>WED,SUN</string>
			<string>24.028410,120.542783</string>
			<string>2322.jpg</string>
		</array>
		<array>
			<string>社頭夜市</string>
			<string>俗稱「芭樂市」，位在社頭鄉果菜公司（果菜批發市場）旁空地，員集路、新雅路交叉口附近。</string>
			<string>TUE</string>
			<string>23.922575,120.582219</string>
			<string>2323.jpg</string>
		</array>
		<array>
			<string>社頭國中夜市</string>
			<string>社頭鄉千葉超市斜對面空地。</string>
			<string>SAT</string>
			<string>23.900204,120.584336</string>
			<string>2324.jpg</string>
		</array>
		<array>
			<string>田中夜市</string>
			<string>田中鎮新福路跟福安路口</string>
			<string>WED,SUN</string>
			<string>23.863533,120.586828</string>
			<string>2325.jpg</string>
		</array>
		<array>
			<string>二水夜市</string>
			<string>二水鄉過圳路跟民生路交叉路口空地</string>
			<string>FRI</string>
			<string>23.813409,120.613859</string>
			<string>2326.jpg</string>
		</array>
		<array>
			<string>田尾夜市</string>
			<string>田尾鄉南鎮國小旁</string>
			<string>TUE</string>
			<string>23.886944,120.556995</string>
			<string>2327.jpg</string>
		</array>
		<array>
			<string>田尾海豐崙夜市</string>
			<string>田尾鄉田尾第七公墓內、靠近陸豐國小</string>
			<string>FRI</string>
			<string>23.919722,120.502523</string>
			<string>2328.jpg</string>
		</array>
		<array>
			<string>田尾公路花園觀光夜市</string>
			<string>田尾鄉公路花園南入口大型停車場旁</string>
			<string>SAT</string>
			<string>23.895012,120.532096</string>
			<string>2329.jpg</string>
		</array>
		<array>
			<string>埤頭星期三夜市</string>
			<string>彰化埤頭鄉健安街37號合興村</string>
			<string>WED</string>
			<string>23.893225,120.456705</string>
			<string>2330.jpg</string>
		</array>
		<array>
			<string>埤頭星期四夜市</string>
			<string>埤頭鄉文鄉路合興菜市場空地</string>
			<string>THU</string>
			<string>23.892792,120.458743</string>
			<string>2331.jpg</string>
		</array>
		<array>
			<string>北斗夜市</string>
			<string>北斗鎮強生幼稚園附近</string>
			<string>THU</string>
			<string>23.867735,120.528535</string>
			<string>2332.jpg</string>
		</array>
		<array>
			<string>溪州夜市</string>
			<string>溪州鄉中山路三段與中山路四段交會旁空地</string>
			<string>MON,FRI</string>
			<string>23.858525,120.504135</string>
			<string>2333.jpg</string>
		</array>
		<array>
			<string>二林王子夜市</string>
			<string>二林鎮近二林工商、台灣楓康超市二林店旁</string>
			<string>TUE,FRI</string>
			<string>23.897132,120.377332</string>
			<string>2334.jpg</string>
		</array>
		<array>
			<string>二林人文觀光夜市</string>
			<string>二林鎮南安路</string>
			<string>MON,SAT</string>
			<string>23.895137,120.370905</string>
			<string>2335.jpg</string>
		</array>
		<array>
			<string>永靖觀光夜市</string>
			<string>永靖鄉永靖高工左前方</string>
			<string>MON</string>
			<string>23.927300,120.545431</string>
			<string>2336.jpg</string>
		</array>
		<array>
			<string>溪湖夜市</string>
			<string>溪湖鎮果菜市場內</string>
			<string>FRI</string>
			<string>23.957815,120.485981</string>
			<string>2337.jpg</string>
		</array>
		<array>
			<string>溪湖成功夜市</string>
			<string>溪湖鎮成功高中附近</string>
			<string>TUE,SAT</string>
			<string>23.954605,120.475914</string>
			<string>2338.jpg</string>
		</array>
		<array>
			<string>溪湖大公路夜市</string>
			<string>溪湖鎮大公路旁</string>
			<string>WED</string>
			<string>23.961852,120.473086</string>
			<string>2339.jpg</string>
		</array>
		<array>
			<string>福興夜市</string>
			<string>福興鄉彰水路45號民宅旁空地，靠近彰水路、番花路交叉口，附近有福興工業區、台76線埔鹽交流道等明顯地標。</string>
			<string>MON</string>
			<string>24.016931,120.489153</string>
			<string>2340.jpg</string>
		</array>
		<array>
			<string>芳苑草湖夜市</string>
			<string>芳苑鄉保安宮</string>
			<string>MON,FRI</string>
			<string>23.958088,120.384999</string>
			<string>2341.jpg</string>
		</array>
		<array>
			<string>芳苑王功夜市</string>
			<string>芳苑鄉郵局後面石元帥廟前空地</string>
			<string>WED</string>
			<string>23.960550,120.337939</string>
			<string>2342.jpg</string>
		</array>
		<array>
			<string>竹塘夜市</string>
			<string>竹塘鄉慈航宮對面</string>
			<string>THU</string>
			<string>23.855459,120.428015</string>
			<string>2343.jpg</string>
		</array>
		<array>
			<string>大城夜市</string>
			<string>大城鄉大城國小旁</string>
			<string>SUN</string>
			<string>23.852375,120.320563</string>
			<string>2344.jpg</string>
		</array>
		<array>
			<string>北斗星期二夜市</string>
			<string>北斗鎮奠安宮停車場</string>
			<string>TUE</string>
			<string>23.872380,120.525404</string>
			<string>2345.jpg</string>
		</array>
	</array>
	<array>
		<array>
			<string>草鞋墩人文觀光夜市</string>
			<string>草屯鎮中正路1039號，前新天地批發倉庫旁，寶島時代村旁</string>
			<string>FRI,SAT,SUN</string>
			<string>23.988676,120.686392</string>
			<string>241.jpg</string>
		</array>
		<array>
			<string>國姓夜市</string>
			<string>國姓鄉</string>
			<string>SUN</string>
			<string>24.036477,120.853362</string>
			<string>242.jpg</string>
		</array>
		<array>
			<string>南投市嘉和夜市</string>
			<string>南投市彰南路一段與嘉和一路口</string>
			<string>FRI</string>
			<string>23.895476,120.687603</string>
			<string>243.jpg</string>
		</array>
		<array>
			<string>南投市家樂福（三和）夜市</string>
			<string>南投市家樂福兼彰化客運站</string>
			<string>WED</string>
			<string>23.906104,120.689461</string>
			<string>244.jpg</string>
		</array>
		<array>
			<string>南崗夜市</string>
			<string>南投市成功二路與自強一路交界</string>
			<string>THU</string>
			<string>23.929582,120.670428</string>
			<string>245.jpg</string>
		</array>
		<array>
			<string>中興新村夜市</string>
			<string>南投市內興路</string>
			<string>SAT</string>
			<string>23.936313,120.693752</string>
			<string>246.jpg</string>
		</array>
		<array>
			<string>南投市（祖祠路）夜市</string>
			<string>南投市祖祠路近信義街</string>
			<string>SUN</string>
			<string>23.918208,120.685450</string>
			<string>247.jpg</string>
		</array>
		<array>
			<string>中寮夜市</string>
			<string>中寮鄉全家旁</string>
			<string>THU</string>
			<string>23.880109,120.764644</string>
			<string>248.jpg</string>
		</array>
		<array>
			<string>松柏嶺夜市</string>
			<string>名間鄉名松路二段至松山街交接口停車場</string>
			<string>FRI</string>
			<string>23.832930,120.637225</string>
			<string>249.jpg</string>
		</array>
		<array>
			<string>名間夜市</string>
			<string>名間鄉農會斜對面</string>
			<string>SAT</string>
			<string>23.836491,120.703454</string>
			<string>2410.jpg</string>
		</array>
		<array>
			<string>集集夜市</string>
			<string>集集鎮集集驛站旁</string>
			<string>TUE,SAT</string>
			<string>23.828307,120.784612</string>
			<string>2411.jpg</string>
		</array>
		<array>
			<string>竹山夜市</string>
			<string>竹山鎮建國四路</string>
			<string>MON,THU</string>
			<string>23.753254,120.676383</string>
			<string>2412.jpg</string>
		</array>
		<array>
			<string>水里夜市</string>
			<string>水里鄉中山東街,北浦街交叉口</string>
			<string>THU</string>
			<string>23.812422,120.851441</string>
			<string>2413.jpg</string>
		</array>
		<array>
			<string>魚池夜市</string>
			<string>魚池鄉7-11鑫魚池門市對面</string>
			<string>TUE</string>
			<string>23.901334,120.930886</string>
			<string>2414.jpg</string>
		</array>
		<array>
			<string>埔里八德夜市</string>
			<string>埔里鎮仁愛路及八德路交接口</string>
			<string>7days</string>
			<string>23.971580,120.967558</string>
			<string>2415.jpg</string>
		</array>
		<array>
			<string>埔里樹人路夜市</string>
			<string>埔里鎮樹人路</string>
			<string>WED</string>
			<string>23.959897,120.974375</string>
			<string>2416.jpg</string>
		</array>
		<array>
			<string>埔里中華夜市</string>
			<string>埔里鎮宏仁國中前</string>
			<string>WED</string>
			<string>23.961229,120.972773</string>
			<string>2418.jpg</string>
		</array>
		<array>
			<string>埔里城觀光夜市</string>
			<string>埔里鎮信義路890號</string>
			<string>FRI,SAT</string>
			<string>23.972724,120.960894</string>
			<string>2419.jpg</string>
		</array>
	</array>
	<array>
		<array>
			<string>斗六人文公園夜市</string>
			<string>斗六市明德路與公理路間</string>
			<string>TUE,SAT</string>
			<string>23.698730,120.533685</string>
			<string>251.jpg</string>
		</array>
		<array>
			<string>斗六夜市（受天宮夜市）</string>
			<string>斗六市成功路與莊敬路間</string>
			<string>WED,SAT</string>
			<string>23.704967,120.550715</string>
			<string>252.jpg</string>
		</array>
		<array>
			<string>斗六石榴班夜市</string>
			<string>斗六市石榴班</string>
			<string>THU</string>
			<string>23.723752,120.583794</string>
			<string>253.jpg</string>
		</array>
		<array>
			<string>虎尾夜市（拜五街夜市）</string>
			<string>虎尾鎮光復路邊</string>
			<string>FRI</string>
			<string>23.715737,120.428731</string>
			<string>254.jpg</string>
		</array>
		<array>
			<string>土庫夜市</string>
			<string>土庫往虎尾方向林森路轉長榮街</string>
			<string>MON</string>
			<string>23.678138,120.393057</string>
			<string>255.jpg</string>
		</array>
		<array>
			<string>同仁夜市</string>
			<string>北港鎮文仁路346巷與武德街交叉口</string>
			<string>WED,SAT</string>
			<string>23.575313,120.293496</string>
			<string>256.jpg</string>
		</array>
		<array>
			<string>西螺東南夜市</string>
			<string>西螺鎮東南路與福來路口</string>
			<string>SUN</string>
			<string>23.802496,120.449661</string>
			<string>257.jpg</string>
		</array>
		<array>
			<string>斗南夜市</string>
			<string>斗南鎮外環道,雲林縣斗南鎮中興路200號</string>
			<string>SAT</string>
			<string>23.677437,120.467234</string>
			<string>258.jpg</string>
		</array>
		<array>
			<string>石龜夜市</string>
			<string>斗南鎮石龜國小、四維派出所旁、信義路與南生路及中和路口</string>
			<string>TUE</string>
			<string>23.641926,120.482180</string>
			<string>259.jpg</string>
		</array>
		<array>
			<string>林內夜市</string>
			<string>林內鄉林內火車站旁</string>
			<string>TUE</string>
			<string>23.760280,120.616557</string>
			<string>2510.jpg</string>
		</array>
		<array>
			<string>古坑夜市</string>
			<string>古坑鄉西平路</string>
			<string>WED</string>
			<string>23.647048,120.560127</string>
			<string>2511.jpg</string>
		</array>
		<array>
			<string>大埤夜市</string>
			<string>大埤鄉台電營業所旁</string>
			<string>TUE</string>
			<string>23.642545,120.434582</string>
			<string>2512.jpg</string>
		</array>
		<array>
			<string>莿桐夜市</string>
			<string>莿桐鄉近莿桐國小</string>
			<string>FRI</string>
			<string>23.755681,120.497892</string>
			<string>2513.jpg</string>
		</array>
		<array>
			<string>崙背夜市</string>
			<string>崙背鄉西榮村忠孝北路</string>
			<string>TUE,FRI</string>
			<string>23.763079,120.351297</string>
			<string>2514.jpg</string>
		</array>
		<array>
			<string>二崙夜市</string>
			<string>二崙鄉全聯前</string>
			<string>WED</string>
			<string>23.769525,120.410527</string>
			<string>2515.jpg</string>
		</array>
		<array>
			<string>麥寮泰安宮夜市</string>
			<string>麥寮鄉橋頭村橋頭路</string>
			<string>MON,SAT</string>
			<string>23.796535,120.272337</string>
			<string>2516.jpg</string>
		</array>
		<array>
			<string>麥寮鎮南宮夜市</string>
			<string>麥寮鄉麥豐村新興路</string>
			<string>THU</string>
			<string>23.746528,120.251119</string>
			<string>2517.jpg</string>
		</array>
		<array>
			<string>褒忠夜市</string>
			<string>褒忠鄉近褒忠衛生所</string>
			<string>THU</string>
			<string>23.693332,120.304526</string>
			<string>2518.jpg</string>
		</array>
		<array>
			<string>下崙夜市</string>
			<string>口湖鄉福安路</string>
			<string>WED</string>
			<string>23.617991,120.161301</string>
			<string>2519.jpg</string>
		</array>
	</array>
</array>
</plist>
