<array>
                        <array> 
                             <array><string>嘉義文化路夜市</string><string>東區中山路圓環至垂楊路之間</string><string>7days</string><string>23.479778,120.449671</string><string>311.jpg</string></array>
                             <array><string>彌陀觀光夜市</string><string>東區立仁路勞工育樂中心附近</string><string>WED,FRI</string><string>23.464970,120.466104</string><string>312.jpg</string></array>
                             <array><string>嘉樂福觀光夜市</string><string>西區家樂福嘉義店旁空地</string><string>7days</string><string>23.471776,120.431812</string><string>313.jpg</string></array>
                         </array>
                         <array>
                             <array><string>蒜頭夜市</string><string>六腳鄉蒜頭永安宮廟前廣場旁</string><string>THU</string><string>23.490396,120.291235</string><string>321.jpg</string></array>
                             <array><string>新港夜市</string><string>新港鄉新港公園旁</string><string>THU</string><string>23.553900,120.344798</string><string>322.jpg</string></array>
                             <array><string>麻魚寮夜市</string><string>太保市古恩宮廟前廣場</string><string>SAT,SUN</string><string>23.499949,120.368130</string><string>323.jpg</string></array>
                             <array><string>太保新埤夜市</string><string>太保市新埤國小旁</string><string>WED</string><string>23.485998,120.335193</string><string>324.jpg</string></array>
                             <array><string>太保後潭夜市</string><string>太保市後潭7-11對面縣道168公路（嘉朴公路旁）</string><string>FRI</string><string>23.452323,120.343409</string><string>325.jpg</string></array>
                             <array><string>彩虹夜市</string><string>太保市嘉義縣政府特區附近，七主宮廟對面空地,太保市祥和三路東段3號</string><string>TUE,THU</string><string>23.454612,120.291865</string><string>326.jpg</string></array>
                             <array><string>朴子夜市</string><string>朴子市四維路一段、光復新路與三安路，嘉義縣立體育館周邊</string><string>SAT</string><string>23.459898,120.246031</string><string>327.jpg</string></array>
                             <array><string>溪口夜市</string><string>溪口鄉中正東路電信局旁</string><string>THU</string><string>23.604575,120.400913</string><string>328.jpg</string></array>
                             <array><string>大林夜市</string><string>大林鎮大林車站後站，慈濟大林醫院附近</string><string>MON</string><string>23.599495,120.456209</string><string>329.jpg</string></array>
                             <array><string>大埔美夜市</string><string>大林鎮大埔美泰寧宮前空地</string><string>FRI</string><string>23.600838,120.504800</string><string>3210.jpg</string></array>
                             <array><string>民雄夜市</string><string>民雄鄉早安公園旁</string><string>MON</string><string>23.551491,120.428408</string><string>3211.jpg</string></array>
                             <array><string>民雄新天地夜市</string><string>民雄鄉民雄自來水公司對面空地</string><string>WED,SUN</string><string>23.553478,120.421924</string><string>3212.jpg</string></array>
                             <array><string>頭橋夜市</string><string>保生大帝廟到新生加油站的三角型巷道之間</string><string>每SUN</string><string>23.556040,120.428331</string><string>3213.jpg</string></array>
                             <array><string>竹崎夜市</string><string>竹崎鄉真武廟旁</string><string>WED</string><string>23.517920,120.549287</string><string>3214.jpg</string></array>
                             <array><string>梅山夜市</string><string>梅山鄉衛生所旁</string><string>SUN</string><string>23.586619,120.554991</string><string>3215.jpg</string></array>
                             <array><string>水上夜市</string><string>水上鄉中正路中華電信旁邊的空地</string><string>SUN</string><string>23.428045,120.402279</string><string>3216.jpg</string></array>
                             <array><string>鹿草夜市</string><string>鹿草鄉圓山宮前廣場</string><string>TUE,THU</string><string>23.413247,120.306576</string><string>3217.jpg</string></array>
                             <array><string>布袋新塭夜市</string><string>布袋鎮新塭嘉應廟廟前廣場</string><string>SAT</string><string>23.377947,120.157145</string><string>3218.jpg</string></array>
                             <array><string>中埔同仁夜市</string><string>中埔鄉中正路同仁村路段</string><string>SAT</string><string>23.407509,120.513174</string><string>3219.jpg</string></array>
                         </array>
                         <array>
                             <array><string>台南花園夜市</string><string>北區海安路三段、和緯路三段</string><string>THU,SAT,SUN</string><string>23.010681,120.199645</string><string>331.jpg</string></array>
                             <array><string>大東夜市</string><string>東區林森路一段（台南監理站旁）</string><string>MON,TUE,FRI</string><string>22.982633,120.219363</string><string>332.jpg</string></array>
                             <array><string>武聖夜市</string><string>中西區武聖路69巷42號（光賢街終點）</string><string>WED,SAT</string><string>23.004079,120.190488</string><string>333.jpg</string></array>
                             <array><string>小北成功夜市</string><string>北區西門路四段171巷2號</string><string>TUE,FRI</string><string>23.011139,120.207740</string><string>334.jpg</string></array>
                             <array><string>小北觀光夜市</string><string>北區西門路四段</string><string>TUE,FRI</string><string>23.008098,120.206798</string><string>335.jpg</string></array>
                             <array><string>灣裡夜市</string><string>南區灣裡路207號</string><string>WED,SAT</string><string>22.928337,120.181769</string><string>336.jpg</string></array>
                             <array><string>仁和夜市</string><string>東區仁和路</string><string>MON</string><string>22.971573,120.232839</string><string>337.jpg</string></array>
                             <array><string>永華夜市</string><string>安平區安億路（林默娘公園對面）</string><string>THU,SUN</string><string>22.993284,120.157817</string><string>338.jpg</string></array>
                             <array><string>安平劍獅假日夜市</string><string>安平區慶平路終點（鄰近札哈木原住民公園）</string><string>SUN</string><string>22.997346,120.164441</string><string>339.jpg</string></array>
                             <array><string>同安夜市（原大昌夜市）</string><string>安南區同安路、大安街</string><string>TUE,FRI</string><string>23.040238,120.190064</string><string>3310.jpg</string></array>
                             <array><string>土城聖母廟夜市</string><string>安南區城安路160號（正統鹿耳門聖母廟廣場）</string><string>THU</string><string>23.066831,120.127410</string><string>3311.jpg</string></array>
                             <array><string>國宅夜市</string><string>安南區安中路一段702巷（第三分局安中派出所旁）</string><string>WED,SAT</string><string>23.043729,120.196237</string><string>3312.jpg</string></array>
                             <array><string>中州寮夜市</string><string>安南區長和路二段（大裕超市對面）</string><string>TUE,SAT</string><string>23.063052,120.219879</string><string>3313.jpg</string></array>
                             <array><string>復華夜市</string><string>永康區復國一路、復華三街</string><string>TUE,FRI</string><string>23.009048,120.245802</string><string>3314.jpg</string></array>
                             <array><string>永大夜市</string><string>永康區永大路二段（永大二路起點）</string><string>MON,THU,SAT,SUN</string><string>23.018974,120.262836</string><string>3315.jpg</string></array>
                             <array><string>鍾厝夜市</string><string>仁德區中清路（清寧代天府廣場及附近路段）</string><string>TUE</string><string>22.969636,120.255732</string><string>3316.jpg</string></array>
                             <array><string>德南夜市</string><string>仁德區德南國小對面</string><string>WED,SAT</string><string>22.949081,120.251756</string><string>3317.jpg</string></array>
                             <array><string>歸仁國中夜市</string><string>歸仁區歸仁國中、仁壽宮範圍</string><string>WED</string><string>22.969506,120.292580</string><string>3318.jpg</string></array>
                             <array><string>歸仁市場夜市</string><string>歸仁區歸仁市場（早市）周邊</string><string>THU</string><string>22.965408,120.296114</string><string>3319.jpg</string></array>
                             <array><string>關廟夜市</string><string>關廟區中央路範圍</string><string>MON,FRI</string><string>22.960453,120.329725</string><string>3320.jpg</string></array>
                             <array><string>新市夜市</string><string>新市區華興街、仁愛街交叉口</string><string>SUN</string><string>23.076746,120.293109</string><string>3321.jpg</string></array>
                             <array><string>善化夜市</string><string>善化區建國路、自立路交叉口</string><string>TUE,FRI,SUN</string><string>23.127743,120.297719</string><string>3322.jpg</string></array>
                             <array><string>隆田夜市</string><string>官田區隆田國小、隆田體育場旁</string><string>SAT</string><string>23.191088,120.315574</string><string>3323.jpg</string></array>
                             <array><string>六甲夜市</string><string>六甲區建國街、復興街交叉口</string><string>FRI</string><string>23.230578,120.351811</string><string>3324.jpg</string></array>
                             <array><string>麻豆夜市</string><string>麻豆區三民路、中山路交叉口（麥當勞旁）</string><string>MON</string><string>23.306762,120.303354</string><string>3325.jpg</string></array>
                             <array><string>安西夜市</string><string>佳里區佳西路、光華街交叉口</string><string>WED,SAT</string><string>23.164853,120.167582</string><string>3326.jpg</string></array>
                             <array><string>佳里星期四傳統夜市</string><string>佳里區平等街及其周邊</string><string>THU</string><string>23.157398,120.182035</string><string>3327.jpg</string></array>
                             <array><string>仁愛夜市</string><string>佳里區祥和五街（仁愛國小旁）</string><string>TUE,FRI</string><string>23.153319,120.175008</string><string>3328.jpg</string></array>
                             <array><string>義民街夜市/商圈</string><string>佳里區義民街，中山路（佳里老街）附近</string><string>7days</string><string>23.161478,120.176277</string><string>3329.jpg</string></array>
                             <array><string>學甲夜市</string><string>學甲區華宗公園周邊</string><string>WED</string><string>23.230065,120.179497</string><string>3330.jpg</string></array>
                             <array><string>下營夜市</string><string>下營區上帝廟前中山路二段至下營國小、下營國小停車場附近</string><string>SUN</string><string>23.230738,120.262558</string><string>3331.jpg</string></array>
                             <array><string>中營夜市</string><string>下營區中營活動中心前空地</string><string>SAT</string><string>23.214535,120.276048</string><string>3332.jpg</string></array>
                             <array><string>新營夜市</string><string>新營區三民路、民生路交叉口</string><string>SAT</string><string>23.305820,120.309111</string><string>3333.jpg</string></array>
                             <array><string>白河夜市</string><string>白河區國泰路、中正路交叉口</string><string>TUE</string><string>23.350835,120.412354</string><string>3334.jpg</string></array>
                             <array><string>柳營夜市</string><string>柳營區代天院周邊</string><string>THU</string><string>23.278853,120.317958</string><string>3335.jpg</string></array>
                         </array>
                         <array>
                             <array><string>六合夜市</string><string>新興區六合二路（中山一路、自立二路之間）</string><string>7days</string><string>22.632105,120.299155</string><string>341.jpg</string></array>
                             <array><string>瑞豐夜市</string><string>左營區明倫路、裕誠路及南屏路交會、三民家商旁</string><string>TUE,THU,FRI,SAT,SUN</string><string>22.666026,120.299981</string><string>342.jpg</string></array>
                             <array><string>凱旋國際觀光夜市</string><string>前鎮區凱旋四路700號（原布魯樂谷）</string><string>MON,WED,FRI,SAT,SUN</string><string>22.599124,120.321238</string><string>343.jpg</string></array>
                             <array><string>禾豐卡友觀光夜市</string><string>前鎮區凱旋四路788號（原布魯樂谷，金鑽觀光夜市）</string><string>TUE,THU,FRI,SAT,SUN</string><string>22.600741,120.321772</string><string>344.jpg</string></array>
                             <array><string>前鎮夜市</string><string>前鎮區成功二路、凱旋四路口</string><string>7days</string><string>22.591635,120.306443</string><string>345.jpg</string></array>
                             <array><string>勞工公園夜市</string><string>前鎮區一德街為主（林森路、民權路之間）</string><string>MON</string><string>22.609302,120.309408</string><string>346.jpg</string></array>
                             <array><string>瑞北夜市</string><string>前鎮區瑞北路中段（永豐路、瑞誠路之間）</string><string>WED,SAT</string><string>22.609063,120.330769</string><string>347.jpg</string></array>
                             <array><string>崗山南街夜市</string><string>前鎮區崗山南街中段（永豐路、瑞誠路之間）</string><string>SUN</string><string>22.602837,120.332215</string><string>348.jpg</string></array>
                             <array><string>南華夜市</string><string>新興區南華路（中正三路、民生一路之間）</string><string>7days</string><string>22.601603,120.338716</string><string>349.jpg</string></array>
                             <array><string>光華夜市</string><string>苓雅區光華路為主（三多路、廣西路之間）</string><string>7days</string><string>22.618400,120.317945</string><string>3410.jpg</string></array>
                             <array><string>忠孝夜市</string><string>苓雅區忠孝二路為主（青年一路、四維三路之間）</string><string>7days</string><string>22.621528,120.307566</string><string>3411.jpg</string></array>
                             <array><string>興中夜市</string><string>苓雅區興中路、文橫路路口（三多商圈），新光三越、SOGO百貨對面</string><string>7days</string><string>22.614787,120.306804</string><string>3412.jpg</string></array>
                             <array><string>吉林夜市</string><string>三民區吉林街和熱河街交叉口</string><string>7days</string><string>22.644546,120.306275</string><string>3413.jpg</string></array>
                             <array><string>建工夜市</string><string>三民區建工路和建德路交叉口（鄰近高雄高工、國立高雄應用科技大學）</string><string>MON,WED,FRI,SAT,SUN</string><string>22.648821,120.322356</string><string>3414.jpg</string></array>
                             <array><string>漢民夜市</string><string>小港區漢民國小旁、社教館斜對面、小港高中對面</string><string>TUE,WED,FRI,SAT,SUN</string><string>22.566076,120.358133</string><string>3415.jpg</string></array>
                             <array><string>二苓夜市</string><string>小港區二苓國小旁</string><string>FRI</string><string>22.565332,120.350210</string><string>3416.jpg</string></array>
                             <array><string>後勁夜市</string><string>楠梓區後昌路、加昌路、區東路一帶</string><string>WED,FRI,SAT</string><string>22.719784,120.311322</string><string>3417.jpg</string></array>
                             <array><string>楠都夜市</string><string>楠梓區建楠路，楠都東街</string><string>SUN</string><string>22.726371,120.326796</string><string>3418.jpg</string></array>
                             <array><string>鳳山青年夜市</string><string>鳳山區博愛路上，鳳大餐廳對面</string><string>THU,FRI,SAT,SUN</string><string>22.631033,120.366344</string><string>3419.jpg</string></array>
                             <array><string>五甲自強夜市</string><string>鳳山區自強二路上，五甲龍成宮一帶</string><string>7days</string><string>22.594129,120.327966</string><string>3420.jpg</string></array>
                             <array><string>海洋夜市</string><string>鳳山區海洋二路（新富路、南京路之間）</string><string>THU</string><string>22.611962,120.341427</string><string>3421.jpg</string></array>
                             <array><string>中崙夜市</string><string>鳳山區中崙國中旁，中崙二路與中崙路交叉口</string><string>SAT</string><string>22.602386,120.353116</string><string>3422.jpg</string></array>
                             <array><string>鳳山中山路夜市</string><string>鳳山區中山路上、寶雅起迄至A+1周邊</string><string>7days</string><string>22.623737,120.357220</string><string>3423.jpg</string></array>
                             <array><string>中華街夜市</string><string>鳳山區高雄捷運鳳山站旁，中華街上</string><string>7days</string><string>22.626782,120.355944</string><string>3424.jpg</string></array>
                             <array><string>岡山中山夜市</string><string>岡山區岡山路上，岡山車站附近</string><string>MON,FRI,SAT</string><string>22.795144,120.298327</string><string>3425.jpg</string></array>
                             <array><string>大湖夜市</string><string>湖內區大湖國小、湖內警察分局對面</string><string>THU,SUN</string><string>22.885795,120.244263</string><string>3426.jpg</string></array>
                             <array><string>鳥松夜市</string><string>鳥松區文前路、大仁北路，鳥松國小周圍</string><string>MON</string><string>22.662583,120.361974</string><string>3427.jpg</string></array>
                             <array><string>路竹夜市</string><string>路竹區路竹公有零售市場對面</string><string>WED,SAT</string><string>22.853556,120.263491</string><string>3428.jpg</string></array>
                             <array><string>永安夜市</string><string>永安區永安路,永安區公所對面</string><string>TUE</string><string>22.818124,120.224325</string><string>3429.jpg</string></array>
                             <array><string>大社夜市</string><string>大社區中華路，青雲宮前</string><string>WED,SAT</string><string>22.727459,120.352964</string><string>3430.jpg</string></array>
                             <array><string>旗山夜市</string><string>旗山區延平一路，鼓山國小、旗山農工旁</string><string>TUE,SAT</string><string>22.900484,120.483172</string><string>3431.jpg</string></array>
                             <array><string>美濃夜市</string><string>美濃區月光山隧道前</string><string>FRI</string><string>22.904332,120.538108</string><string>3432.jpg</string></array>
                             <array><string>林園夜市</string><string>林園區鳳林路一段上、林園南路34巷旁</string><string>TUE,FRI</string><string>22.501901,120.397437</string><string>3433.jpg</string></array>
                             <array><string>會社88夜市</string><string>大寮區鳳林路，近輔英科技大學</string><string>THU,SAT,SUN</string><string>22.602956,120.399233</string><string>3434.jpg</string></array>
                             <array><string>仁武夜市</string><string>仁武區區公所前，仁和街、仁和南街</string><string>TUE,FRI</string><string>22.704088,120.347757</string><string>3435.jpg</string></array>
                             <array><string>燕巢夜市</string><string>燕巢區中民路全家威靈寺廟口、中北路（中民路、中華路之間）</string><string>SAT</string><string>22.794012,120.362694</string><string>3436.jpg</string></array>
                             <array><string>九甲圍夜市</string><string>橋頭區橋頭往中山高中舊路林家檳榔右轉直走九甲圍義山宮</string><string>FRI</string><string>22.743513,120.291505</string><string>3437.jpg</string></array>
                         </array>
                         <array>
                             <array><string>屏東民族路夜市</string><string>屏東市民族路與復興路橋下一帶</string><string>7days</string><string>22.669830,120.489656</string><string>351.jpg</string></array>
                             <array><string>屏東瑞光夜市</string><string>屏東市瑞光路二段與華正路交叉路口</string><string>7days</string><string>22.687094,120.504036</string><string>352.jpg</string></array>
                             <array><string>墾丁大街</string><string>恆春鎮墾丁路(台26線從麥當勞起至墾丁路與大灣路口止，墾丁國家公園境內）</string><string>7days</string><string>21.945258,120.798120</string><string>353.jpg</string></array>
                             <array><string>恆春夜市</string><string>恆春鎮福德與光明交叉路口</string><string>SUN</string><string>21.946114,120.792722</string><string>354.jpg</string></array>
                             <array><string>潮州夜市</string><string>潮州鎮光春路與長榮街、光陽路</string><string>MON,FRI</string><string>22.541892,120.539678</string><string>355.jpg</string></array>
                             <array><string>萬丹夜市</string><string>萬丹鄉四維國小旁</string><string>TUE,THU,SUN</string><string>22.593547,120.490695</string><string>356.jpg</string></array>
                             <array><string>社皮夜市</string><string>萬丹鄉社皮村社皮游泳池前面廣場</string><string>WED</string><string>22.615984,120.472197</string><string>357.jpg</string></array>
                             <array><string>新庄夜市</string><string>萬丹鄉新鐘村新莊社區圖書館前、新鐘派出所附近</string><string>FRI</string><string>22.561586,120.485422</string><string>358.jpg</string></array>
                             <array><string>新園夜市</string><string>新園鄉仙吉路轉仙隆路，仙隆路上</string><string>THU</string><string>22.543566,120.460323</string><string>359.jpg</string></array>
                             <array><string>新東夜市</string><string>新園鄉仙吉路轉新東路，新東路上</string><string>22.538023,120.459691</string><string>3510.jpg</string></array>
                             <array><string>高樹夜市</string><string>高樹鄉高樹市區慈雲寺旁，屏東縣高樹鄉南興路47號</string><string>WED,SAT</string><string>22.821228,120.602460</string><string>3511.jpg</string></array>
                             <array><string>東港夜市</string><string>東港鎮長春一路與明德路起</string><string>WED,SAT</string><string>22.470693,120.459412</string><string>3512.jpg</string></array>
                             <array><string>長治繁華夜市</string><string>長治鄉惠迪宮一帶，繁華村黎明街上</string><string>MON</string><string>22.699253,120.577334</string><string>3513.jpg</string></array>
                             <array><string>林邊夜市</string><string>林邊鄉中林路（媽祖廟前）</string><string>FRI</string><string>22.433406,120.516837</string><string>3514.jpg</string></array>
                             <array><string>南州夜市</string><string>南州鄉代天府一帶，人和三民路口</string><string>THU</string><string>22.488903,120.505562</string><string>3515.jpg</string></array>
                             <array><string>水底寮夜市</string><string>枋寮鄉中山路二段（台1線北上路段437.4公里旁）、民族路</string><string>THU</string><string>22.383710,120.596195</string><string>3516.jpg</string></array>
                             <array><string>北勢寮夜市</string><string>枋寮鄉北勢寮金龍路（僑德國小前）、隆山路、隆安路</string><string>WED</string><string>22.363178,120.599051</string><string>3517.jpg</string></array>
                             <array><string>中山路夜市</string><string>枋寮鄉中山路（標昇駕訓班旁）</string><string>SAT</string><string>22.372980,120.593043</string><string>3518.jpg</string></array>
                             <array><string>里港夜市</string><string>里港鄉中山路雙慈宮後、消防隊前，里港信義路</string><string>THU,SUN</string><string>22.778936,120.493571</string><string>3519.jpg</string></array>
                             <array><string>石光見夜市</string><string>佳冬鄉中山路上</string><string>SAT</string><string>22.428200,120.562884</string><string>3520.jpg</string></array>
                             <array><string>鹽埔夜市</string><string>鹽埔鄉豐年路附近</string><string>WED</string><string>22.755289,120.577538</string><string>3521.jpg</string></array>
                             <array><string>新圍夜市</string><string>鹽埔鄉新圍村慈天宮旁</string><string>FRI</string><string>22.742105,120.556458</string><string>3522.jpg</string></array>
                             <array><string>長治繁華夜市</string><string>長治鄉長興國小旁</string><string>TUE</string><string>22.699293,120.577291</string><string>3523.jpg</string></array>
                             <array><string>九如夜市</string><string>九如鄉維新街三山國王廟、九龍路上</string><string>TUE</string><string>22.734543,120.488370</string><string>3524.jpg</string></array>
                             <array><string>麟洛夜市</string><string>麟洛鄉麟洛派出所前紅綠燈左轉7-11方向</string><string>THU</string><string>22.654062,120.526393</string><string>3525.jpg</string></array>
                             <array><string>西勢夜市</string><string>竹田鄉西勢村忠義祠前面廣場</string><string>SAT</string><string>22.617165,120.522899</string><string>3526.jpg</string></array>
                             <array><string>水門夜市</string><string>三地門鄉三地門文化園區旁</string><string>SAT</string><string>22.704883,120.640426</string><string>3527.jpg</string></array>
                             <array><string>龍泉夜市</string><string>內埔鄉龍泉村龍泉派出所旁</string><string>SUN</string><string>22.669473,120.600052</string><string>3528.jpg</string></array>
                         </array>
                         <array>
                             <array><string>西文祖師廟夜市</string><string>馬公市新生路（西文祖師廟前）</string><string>7days</string><string>23.565412,119.582491</string><string>361.jpg</string></array>
                             <array><string>北甲宮夜市</string><string>馬公市中正路（麥當勞斜對面）</string><string>7days</string><string>23.566164,119.565567</string><string>362.jpg</string></array>
                             <array><string>馬公夜市</string><string>馬公市漁隆路（澎湖區漁會魚產品直銷中心附近）</string><string>7days</string><string>23.565898,119.569568</string><string>363.jpg</string></array>
                         </array>
</array>
    